<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Lista de Escolas</title>
</head>
<body>
    <main>
        <header>
            <h1>Lista de Escolas</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('listar_escolas') }}">Escolas</a></li>
                    <li><a href="{{ url_for('adicionar_aluno')}}">Adicionar Aluno</a></li>
                </ul>
            </nav>
        </header>
        <table>
            <thead>
                <th>Código Censo</th>
                <th>Nome da Escola</th>
                <th>Município</th>
            </thead>
            <tbody>
                {% for escola in escolas %}
                <tr>
                    <td>{{ escola[0] }}</td>
                    <td>{{ escola[1] }}</td>
                    <td>{{ escola[2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    </body>
</html>