<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Cadastro Escolar</title>
</head>
<body>
    <main>
        <header>
            <h1>Cadastro Escolar</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index')}}">Home</a></li>
                    <li><a href="{{ url_for('listar_escolas') }}">Escolas</a></li>
                    <li><a href="{{ url_for('adicionar_aluno')}}">Adicionar Aluno</a></li>
                </ul>
            </nav>
        </header>
    </main>
</body>
</html>